APIVAULT_ENVIRONMENT=Development
APIVAULT_API_BASE_URL=https://localhost:44315/
APIVAULT_APPLICATION_NAME=ApiVault
APIVAULT_ORGANIZATION_NAME=Southeast Bank PLC.
APIVAULT_SESSION_STORAGE_KEY=apivault.session
